@model IEnumerable<ProductImagesListItemVM>

@{
    ViewData["Title"] = "Index";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary text-center">Product images</h6>
        <a asp-action="Create" class="btn btn-outline-success">Create</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <th>Id</th>
                <th>Image path</th>
                <th>Image</th>
                <th>Product id</th>
                <th>Is active</th>
                <th colspan="2">Action</th>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            <tr class='@(item.IsActive ? "" : "bg-danger" )'>
                                <td>@item.Id</td>
                                <td>@item.ImagePath</td>
                                <td>
                                    @if (item.ImagePath.Contains("://"))
                                    {
                                        <img height="60" src="@item.ImagePath" />
                                    }
                                    else
                                    {
                                        <img height="60" src="~/@item.ImagePath" />
                                    }
                                </td>
                                <td>@item.ProductId</td>
                                <td>@item.IsActive</td>
                                <td><a class="btn btn-outline-info" asp-action="Update" asp-route-id="@item.Id">Update</a> </td>
                                <td><a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a> </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <th class="text-center" colspan="4">No data</th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>