@using WebApplication1.Areas.Admin.ViewModels
@model IEnumerable<AdminProductListItemVM>

@{
    ViewData["Title"] = "Index";
}

@section scripts{
    @if (TempData["ProductDeleteResponse"] != null)
    {
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        @if ((bool)TempData["ProductDeleteResponse"] == true)
        {
            <script>
                Swal.fire({
                    position: "top-end",
                    icon: "success",
                    title: "Data deleted",
                    showConfirmButton: false,
                    timer: 1500
                });
            </script>
        }
        else
        {
            <script>
                Swal.fire({
                    position: "top-end",
                    icon: "error",
                    title: "Something went wrong",
                    showConfirmButton: false,
                    timer: 1500
                });
            </script>
        }
    }
    @if (TempData["ProductUpdateResponse"] != null)
    {
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        @if ((bool)TempData["ProductUpdateResponse"] == true)
        {
            <script>
                Swal.fire({
                    position: "top-end",
                    icon: "success",
                    title: "Data updated",
                    showConfirmButton: false,
                    timer: 1500
                });
            </script>
        }
        else
        {
            <script>
                Swal.fire({
                    position: "top-end",
                    icon: "error",
                    title: "Something went wrong",
                    showConfirmButton: false,
                    timer: 1500
                });
            </script>
        }
    }
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary text-center">Products</h6>
        <a asp-action="Create" class="btn btn-outline-success">Create</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <th>Id</th>
                <th>Name</th>
                <th>SellPrice</th>
                <th>CostPrice</th>
                <th>Discount</th>
                <th>Quantity</th>
                <th>Category</th>
                <th>ImageUrl</th>
                <th>HoverImageUrl</th>
                <th>Images</th>
                <th>IsDeleted</th>
                <th colspan="2">Action</th>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class='@(item.IsDeleted ? "bg-danger" : "")'>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.SellPrice</td>
                            <td>@item.CostPrice</td>
                            <td>@item.Discount</td>
                            <td>@item.Quantity</td>
                            <td>@item.Category?.Name</td>
                            <td>
                                <img src="~/@item.ImageUrl" height="60"/>
                            </td>
                            <td>
                                <img src="~/@item.HoverImageUrl" height="60" />
                            </td>
@*                             <td>@item.Images</td>
 *@ *@@*                             <td>@string.Join("", item.Images.Select(x => x.ImagePath))</td>
                            <td>@item.IsDeleted</td>
                            
                            <td><a class="btn btn-outline-info" asp-action="Update" asp-route-id="@item.Id">Update</a> </td>
                            <td><a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a> </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>