@model List<BlogListItemVM>

@{
    ViewData["Title"] = "Index";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary text-center">Blogs</h6>
        <a asp-action="Create" class="btn btn-outline-success">Create</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <th>Id</th>
                <th>Title</th>
                <th>Created</th>
                <th>Updated</th>
                <th>AuthorId</th>
                <th>Tags</th>
                <th>IsDeleted</th>
                <th colspan="2">Action</th>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class='@(item.IsDeleted ? "bg-danger" : "")'>
                            <td>@item.Id</td>
                            <td>@item.Title</td>
                            <td>@item.CreatedAt</td>
                            <td>@item.UpdatedAt</td>
                            <td>@item.AuthorId</td>
                            @if (item.Tags == null || item.Tags.Count() == 0)
                            {
                                <td>no tag</td>
                            }
                            else
                            {
                                <td>@string.Join(", ",item.Tags.Select(x => x.Title))</td>
                            }
                            <td>@item.IsDeleted</td>
                            <td><a class="btn btn-outline-info" asp-action="Update" asp-route-id="@item.Id">Update</a> </td>
                            <td><a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a> </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>